@import 'fonts.less';
@import 'colors.less';

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Banger', sans-serif;
  font-style: italic;
}

blockquote {
  border-left: 3px solid;
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: 1.25em;
  font-style: italic;
  line-height: 1.8em;
  margin: 1.1em -4em;
  padding: 1em 2em;
  position: relative;
  transition: .2s border ease-in-out;
  z-index: 0;
}

cite {
  display: block;
  font-size: 0.75em;
  line-height: 1.8em;
  margin-top: 1em;
}

/* Layout */

.ant-layout-content {
  overflow: hidden;
}

.ant-layout-footer {
  text-align: center;
}
