.bg-geekblue-7 {
  background: #1D39C4 !important;
}

.text-geekblue-8 {
  color: #10239E !important;
  cursor: pointer;
}

.text-geekblue-7 {
  color: #1D39C4 !important;
}

.bg-geekblue-2 {
  background: #D6E4FF !important;
}

.bg-green-1 {
  background: #ECFFFA !important;
}

.text-gray-9 {
  color: #262626 !important;
}

.text-gray-7 {
  color: #8C8C8C !important;
}

.bg-purple-4 {
  background: #B37FEB !important;
}

.bg-red-5 {
  background: #FF4D4F !important;
}

.bg-gold-6 {
  background: #FAAD14 !important;
}