.banner-first-color { color: #eb3a5b; }
.banner-gradient-color { color:  #fe5000; }

/* White theme colors */

.white-primary-color { color: #fe5000; }
.white-font-color { color: #000; }
.white-gradient-color { color: #000; }

/* Dark theme colors */

.dark-primary-color { color: #fe5000; }
.dark-font-color { color: #000; }
.dark-gradient-color { color: #000; }
